<!-- Utilisation du template de base -->
{% extends 'base.html' %}
<!-- Indique la page active -->
{% set active_page = "index" %}

<!-- Titre de la page actuelle -->
{% block titre %}
<title>Page d'accueil</title>
{% endblock %}

<!-- Contenu spécifique à la page -->
{% block body %}


<div class="container my-5">
    <div class="bg-body-tertiary p-5 rounded">
      <div class="col-sm-8 py-5 mx-auto">
        <h1>Bienvenue sur votre site de révision préféré ! </h1>
		<!-- Indique le nombre de carte à réviser en fonction des variables cards et todo -->
          <span>Vous avez {{ cards|list|count }} carte{{ "s" if cards|list|count > 1}} dont {{ todo|list|count }} à faire aujourd'hui</span><br><br>
		  <!-- Bouton pour aller sur la liste des cartes -->
        <a class="btn btn-primary" href="/carte" role="button">Allez voir les cartes</a>
		<!-- Bouton pour créer une nouvelle carte-->
        <a class="btn btn-success" href="/carte/new" role="button">Ajouter une carte</a>
    </div>
</div>
</div>
{% endblock %}

