{% extends 'base.html' %}

{% block titre %}
<title>Edition de message</title>
{% endblock %}

{% block body %}
    <h1>Mise à jour du message :</h1>
    <form action="/carte/edit/{{ card['id'] }}" method="POST">
        <textarea class="form-control" type="text" name="question" id="question" placeholder="Question : {{ card['question'] }}" required>{{ card['question'] }}</textarea>
        <br>
        <textarea class="form-control" type="text" name="answer" id="answer" placeholder="Réponse : {{ card['answer'] }}" required>{{ card['answer'] }}</textarea>
        <br>
        <input class="form-control" list="listcourse" name="course" id="course" value="{{ card['course'] }}"  placeholder="cours : {{ card['course'] }}" required>
			<datalist id="listcourse">	
			{% for course in courselist %}
			  <option value="{{ course['course'] }}">
			{% endfor %}
			</datalist>
        <br>
        <input type="submit" value="Envoyer" class="btn btn-success">
        <hr>
    </form>

{% endblock %}

